<table width="100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Invoice</th>
            <th>Payment method</th>
            <th>Notes</th>
            <th>Amount paid</th>
            <th>Status</th>
            <th>
                <button (click)="onAddTransactionClick()">Add</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="_show_form">
            <td width="15%">
                <input id="datepicker" type="text" [(ngModel)]="addForm.transaction_date" />
            </td>
            <td width="15%">
                <select [(ngModel)]="addForm.invoice_id">
                    <option value="" disabled>Please make selection</option>
                    <option *ngFor="let item of config.invoices_out" value="{{item.key}}">{{item.label}}</option>
                </select>
            </td>
            <td width="15%">
                <select [(ngModel)]="addForm.payment_type_short_name">
                    <option value="" disabled>Please make selection</option>
                    <option *ngFor="let item of config.payment_types" value="{{item.key}}">{{item.label}}</option>
                </select>
            </td>
            <td width="20%">
                <input [(ngModel)]="addForm.bank" type="text" />
            </td>
            <td width="15%">
                <input [(ngModel)]="addForm.amount" type="text" />
            </td>
            <td width="15%" valign="top">

            </td>
            <td width="5%" valign="bottom">

            </td>
        </tr>
    </tbody>
    <tbody list-transactions *ngIf="config.transactions.length"></tbody>
</table>
<style>
    table th {
        text-align: left;
    }
</style>
