<h1>Payment BackOffice Plugin</h1>

<table width="100%">
    <tr>
        <td width="50%">
            <select-type [selected]="selected"></select-type>
        </td>
        <td width="50%" valign="top">
            <div>Payment notes:</div>
            <textarea style="width: 100%; height: 100px; resize: none" [(ngModel)]="formSave.notes">{{dynamicFlags.payer_notes}}</textarea>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td>Total paid:</td>
                    <td align="right">{{dynamicFlags.total_paid}}</td>
                </tr>
                <tr>
                    <td>Total fee:</td>
                    <td align="right">{{dynamicFlags.total_fee}}</td>
                </tr>
                <tr>
                    <td>Balance due:</td>
                    <td align="right">{{dynamicFlags.balance_due}}</td>
                </tr>
                <tr>
                    <td>Payment date:</td>
                    <td align="right">{{_config.payment_date}}</td>
                </tr>
                <tr *ngIf="_config.show_payment_completed">
                    <td>Payment complete:</td>
                    <td align="right">
                        <label for="payment_complete">Yes</label>
                        <input [checked]="dynamicFlags.payment_completed" [(ngModel)]="formSave.payment_completed" id="payment_complete" type="checkbox" />
                    </td>
                </tr>
            </table>
        </td>
        <td valign="bottom" align="right">
            <button *ngIf="dynamicFlags.show_download_invoice_btn" (click)="onInvoiceClick()">Invoice</button>
            <button *ngIf="dynamicFlags.show_download_receipt_btn" (click)="onReceiptClick()">Receipt</button>
            <button *ngIf="dynamicFlags.show_edit_invoice_btn" (click)="onCancelInvoiceClick()">Cancel Invoice</button>
            <button (click)="onSaveClick()">Save</button>
        </td>
    </tr>
</table>
<busy-popup></busy-popup>
<information-popup [selected]="selected"></information-popup>
